# encoding: utf-8

# ------------------------------------------------------------------------------
# Copyright (c) 2015 SUSE LINUX GmbH, Nuernberg, Germany.
#
# This program is free software; you can redistribute it and/or modify it under
# the terms of version 2 of the GNU General Public License as published by the
# Free Software Foundation.
#
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with
# this program; if not, contact SUSE Linux GmbH.
#
# ------------------------------------------------------------------------------
#
# Authors: Howard Guo <hguo@suse.com>

[Desktop Entry]
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Net_advanced;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-SuSE-YaST-Call=vpn

X-SuSE-YaST-Group=Net_advanced
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=all
X-SuSE-YaST-AutoInstResource=vpn
X-SuSE-YaST-AutoInstClonable=true
X-SuSE-YaST-Keywords=vpn,ipsec,gateway

Icon=yast-vpn
Exec=xdg-su -c "/sbin/yast2 vpn"

Name=YaST VPN
GenericName=VPN Gateway and Clients
Comment=Configure VPN gateway and clients using IPSec
StartupNotify=true
